.hashtag {
  height: 150px;
  width: 150px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);

  &__btn {
    position: relative;
    display: flex;
    width: inherit;
    height: inherit;
    border: none;
    margin: 0;
    padding: 0;
  }

  &__img {
    width: inherit;
    height: inherit;
  }

  &__header {
    @include flex_center();
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a194470;
    text-transform: capitalize;
  }

  &__text {
    color: white;
  }
}
