.hashtag {
  position: relative;
  display: flex;
  height: 150px;
  width: 150px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
//   border-radius: 10px;

  * {
    // border-radius: 10px;
  }

  &__img {
    width: inherit;
    height: inherit;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a194470;
    text-transform: capitalize;
    text-align: center;
  }

  &__text {
    color: white;
    font-size: 1rem;
  }
}
