.media {
  width: 100%;
  height: 170px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
  border-radius: 20px;

  &__header-container {
    @include flex_center(1);
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__right-content,
  &__left-content {
    @include flex_center(1);
    border-radius: 500px;
    height: 36px;
    background-color: transparentize(
      map-get($color_background, "page_secondary"),
      0.17
    );
  }

  &__right-content {
    padding: 0 13px 0 7px;
  }

  &__left-content {
    padding: 0 10px 0 3px;
    & > *:nth-of-type(1) {
      margin-right: 15px;
    }
  }

  &__bg-img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
