.media {
  width: 100%;
  height: 100px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-content {
    display: flex;
    align-items: center;
    & > *:nth-of-type(1) {
      margin-right: 10px;
    }
  }
}
