.profilethumbnail {
  @include flex_center(1);

  &__img {
    border-radius: 50%;
  }

  &__text {
    font-size: 1rem;
    margin-left: 5px;
    color: map-get($color_text, "light");
    font-weight: map-get($font_weights, "regular");
  }
}
