.rootheader {
  height: 60px;
  width: 100%;
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.3);

  // background-color: map-get($color_background, "header");
  background: rgba(123, 22, 238, 1);
  background: linear-gradient(
    90deg,
    rgba(123, 22, 238, 1) 0%,
    rgba(255, 143, 5, 1) 100%
  );

  &__nav-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transition: all ease 0.2s;

    &--open {
      left: 0;
      width: 100vw;
    }

    &--close {
      width: 0%;
      left: -300px;
    }
  }

  &__links-holder {
    max-width: 300px;
    min-width: 200px;
    width: 80%;
    height: inherit;
    background-color: map-get($color_text, "lighter");
  }

  &__nav-shadow {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__display-content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 $page_padding;
  }

  &__content {
    height: inherit;
    @include flex_center(1, 0);
  }

  &__button {
    background: none;
    border: none;
    outline: none;
  }

  &__text {
    color: map-get($color_text, "lighter");
    font-size: 1.6rem;
    margin-left: 10px;
    text-transform: capitalize;
  }

  &__icon {
    color: map-get($color_text, "light");
    cursor: pointer;
  }

  &__icon-left {
    transform: rotateZ(-90deg);
    font-size: 2.5rem;
  }

  &__icon-right {
    font-size: 2rem;
  }
}
