p, h6, h5, h4, h3, h2, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 6rem;
  letter-spacing: -1.5px;
  font-weight: 100;
}

h2 {
  font-size: 3.75rem;
  letter-spacing: -0.5px;
  font-weight: 100;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: 100;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.25px;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 400;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400;
}

.hashtag {
  position: relative;
  display: flex;
  height: 150px;
  width: 150px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.2);
}
.hashtag__img {
  width: inherit;
  height: inherit;
}
.hashtag__header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a194470;
  text-transform: capitalize;
  text-align: center;
}
.hashtag__text {
  color: white;
  font-size: 1rem;
}

.rootheader {
  height: 70px;
  width: 100%;
  position: relative;
}
.rootheader__nav-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  transition: all ease 0.2s;
}
.rootheader__nav-container--open {
  left: 0;
  width: 100vw;
}
.rootheader__nav-container--close {
  width: 0%;
  left: -300px;
}
.rootheader__links-holder {
  max-width: 300px;
  min-width: 200px;
  width: 80%;
  height: inherit;
  background-color: white;
}
.rootheader__nav-shadow {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.rootheader__display-content {
  height: inherit;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
}
.rootheader__content {
  height: inherit;
  display: flex;
  align-items: center;
}
.rootheader__button {
  background: none;
  border: none;
  outline: none;
}
.rootheader__text {
  color: white;
  font-size: 1.6rem;
  margin-left: 10px;
  text-transform: capitalize;
}
.rootheader__icon {
  color: #d9d8dd;
  cursor: pointer;
}
.rootheader__icon:nth-of-type(1) {
  transform: rotateZ(-90deg);
  font-size: 2.5rem;
}
.rootheader__icon:nth-of-type(2) {
  font-size: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html .root,
body .root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  background-color: #3c4f6c;
  background: linear-gradient(180deg, #3c4f6c 0%, #0a1944 100%);
}

.page {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.scrollable-hor {
  height: auto;
  padding: 10px 0px 10px 10px;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.scrollable-hor > * {
  margin-right: 20px;
}

/*# sourceMappingURL=master.css.map */
