@use 'sass:map';

@import "./variables/colors";
@import "./variables/layout";
@import "./variables/font";
@import "./components/HashTag";
@import "./components/RootHeader";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    background-color: map.get($color_background, "page_main");
    background: map.get($color_background, "gradient_main");
  }
}

.page {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;

  &__discover,
  &__recent {
    padding: 0 $page_padding;
  }
}

.scrollable-hor {
  height: auto;
  padding: 10px 0px 10px 10px;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  & > * {
    margin-right: 20px;
  }
}
