@use 'sass:map';
@use 'sass:color';

@import "./functions/functions";

@import "./variables/colors";
@import "./variables/layout";
@import "./variables/font";
@import "./variables/styles";

@import "./components/HashTag";
@import "./components/RootHeader";
@import "./components/ScrollableDiv";
@import "./components/ProfileThumbnail";
@import "./components/BasicStats";
@import "./components/History";
@import "./components/Icon";
@import "./components/Media";
@import "./components/Image";
@import "./components/Video";

@import "./pages/Home";
@import "./pages/Discover";
@import "./pages/Explore";
@import "./pages/Logout";
@import "./pages/Watch";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

html,
body {
  .root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    background-color: map.get($color_background, "page_main");
    background: map.get($color_background, "gradient_main");
  }
}

.page {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.live-icon {
  fill: map-get($color_text, "normal");
}

.orientation-landscape {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: map-get($color_background, "gradient_main");
  color: white;
}
