@use 'sass:map';

@import "./variables/colors";
@import "./variables/layout";
@import "./variables/font";
@import "./components/HashTag";
@import "./components/RootHeader";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    background-color: map.get($color_background, "page_main");
    background: map.get($color_background, "gradient_main");
  }
}

.page-body {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 $page_padding;
}
