@import "./variables/colors";
@import "./variables/layout";

p {
  margin: 0;
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: $color_background_main;
    background: linear-gradient(
      180deg,
      $color_background_main 0%,
      $color_background_secondary 100%
    );
    overflow: hidden;
  }
}

.page-header {
  display: flex;
  box-sizing: border-box;
  padding: $page_padding;

  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 15px;
    text-transform: capitalize;
  }

  &__left-container,
  &__right-container {
    height: inherit;
    display: flex;
    align-items: center;
    flex: 1;
    color: #d9d8dd;

    button {
      background: none;
      border: none;
      outline: none;
    }

    i {
      color: #d9d8dd;
      cursor: pointer;
    }
  }

  &__left-container {
    justify-content: flex-start;
    i {
      transform: rotateZ(-90deg);
      font-size: 2.5rem;
    }
  }
  &__right-container {
    justify-content: flex-end;
    i {
      font-size: 2rem;
    }
  }
}

.page-body {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 $page_padding;
}
