$color_background: (
  "page_main": #3c4f6c,
  "page_secondary": #0a1944,
  "gradient_main": linear-gradient(180deg, #3c4f6c 0%, #0a1944 100%),
  "tertiary": #3c4f6d,
);

$color_text: (
  "lighter": #f6f7f2,
  "light": #d9d8dd,
  "normal": #a5b5c4,
  "dark": #a4a6aa,
  "darker": #0a1944,
);
