$font_weights: (
  "light": 100,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font_sites: (
  "h1": 6rem,
  "h2": 3.75rem,
  "h3": 3rem,
  "h4": 2.125rem,
  "h5": 1.5rem,
  "h6": 1.25rem,
  "p": 1rem,
);

%general-style-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

%font-style-h1 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h1");
  letter-spacing: -1.5px;
  font-weight: map.get($font_weights, "light");
}

%font-style-h2 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h2");
  letter-spacing: -0.5px;
  font-weight: map.get($font_weights, "light");
}

%font-style-h3 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h3");
  letter-spacing: 0px;
  font-weight: map.get($font_weights, "light");
}

%font-style-h4 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h4");
  letter-spacing: 0.25px;
  font-weight: map.get($font_weights, "regular");
}

%font-style-h5 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h5");
  letter-spacing: 0px;
  font-weight: map.get($font_weights, "regular");
}

%font-style-h6 {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "h6");
  letter-spacing: 0.15px;
  font-weight: map.get($font_weights, "regular");
}

%font-style-p {
  @extend %general-style-reset;
  font-size: map.get($font_sites, "p");
  line-height: 1.5rem;
  letter-spacing: 0px;
  margin: 0;
  font-weight: map.get($font_weights, "regular");
}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-type-h1 {
  @extend %font-style-h1;
}
.text-type-h2 {
  @extend %font-style-h2;
}
.text-type-h3 {
  @extend %font-style-h3;
}
.text-type-h4 {
  @extend %font-style-h4;
}
.text-type-h5 {
  @extend %font-style-h5;
}
.text-type-h6 {
  @extend %font-style-h6;
}
.text-type-p {
  @extend %font-style-p;
}

// h1 {
//   @extend %font-style-h1;
// }
// h2 {
//   @extend %font-style-h2;
// }
// h3 {
//   @extend %font-style-h3;
// }
// h4 {
//   @extend %font-style-h4;
// }
// h5 {
//   @extend %font-style-h5;
// }
// h6 {
//   @extend %font-style-h6;
// }

// p {
//   @extend %font-style-p;
// }
